<!doctype html>
<title>Hello from Flask</title>
<form action="/recurso">
    fecha inicio:
    <input type="date" name="fecha_inicio" value="{{ last_week }}">
    fecha término:
    <input type="date" name="fecha_fin" value="{{ today }}">

    buscar uf:
    <input type="radio" name="nombre_recurso" value="uf" checked>
    buscar dolar:
    <input type="radio" name="nombre_recurso" value="usd">
    buscar TMC:
    <input type="radio" name="nombre_recurso" value="tmc">
    
    <input type="submit" value="Buscar">
</form>

{% if error %}
  <h1> {{ error }}!</h1>
{% else %}
  <h1></h1>
{% endif %}
