<!doctype html>
<html>
<head>
    <title>Consultas de SBIF</title>
</head>
<body>
    <h1>Consulta a SBIF</h1>
    <h3>Visualiza los valores de la UF/dólar/TMC dentro de las fechas que elijas</h3>
    <form action="/recurso">
        
        <b>1: Seleccione lo que quiera consultar</b>
        <div><input type="radio" name="nombre_recurso" value="uf" checked> UF</div>
        <div><input type="radio" name="nombre_recurso" value="usd"> Dólar</div>
        <div><input type="radio" name="nombre_recurso" value="tmc"> TMC</div>
        </br>
        <b>2: Seleccione rango de fechas a consultar</b>
        <div>
        fecha inicio:
        <input type="date" name="fecha_inicio" value="{{ last_week }}">
        fecha término:
        <input type="date" name="fecha_fin" value="{{ today }}"></div>
        </br>
        <div><input type="submit" value="Consultar"></div>
    </form>

    {% if error %}
    <h1> {{ error }}!</h1>
    {% else %}
    <h1></h1>
    {% endif %}
</body>
</html>


