<!doctype html>

<html>
    <head>
        <title>Resultados</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
        <script>
            window.onload = function () {
                var ctx = document.getElementById("myChart");
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ fechas | safe }},
                        datasets: {{ datasets | safe }}
                    },
                    options: {
                      tooltips: {
                          callbacks: {
                              label: function(tooltipItem, data) {
                                  var percent = data['datasets'][tooltipItem['datasetIndex']]['data'][tooltipItem['index']];
                                  return "Interés: " + percent + '%';
                              },
                              afterLabel: function(tooltipItem, data) {
                                  var tipo = data['datasets'][tooltipItem['datasetIndex']]["label"];
                                  var titulo = data['datasets'][0]['texto'][tooltipItem['index']];
                                  return tipo + ": " + titulo;
                              }
                          }
                      },
                      title: {
                                  display: true,
                                  text: 'TMC'
                              }
                    }
                });
            };
        </script>
    </head>
    <body>
        <canvas id="myChart" class="elemento-formulario"></canvas>
        <form action="/">
            <input type="submit" value="Volver a Consultas">
        </form>
        <table border="1">
        <thead>
            <tr>
                <th>Código Tipo</th>
                <th>Título</th>
                <th>Subtítulo</th>
                <th>Valor</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos_tabla %}
            <tr>
                <td>{{ dato["Tipo"] }}</td>
                <td>{{ dato["Titulo"] }}</td>
                <td>{{ dato["SubTitulo"] }}</td>
                <td>{{ dato["Valor"] }}</td>
                <td>{{ dato["Fecha"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </body>
</html>
