<!doctype html>

<html>
    <head>
        <title>Resultados</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
        <script src="static/sorttable.js"></script>
        <script>
            window.onload = function () {
                var ctx = document.getElementById("myChart");
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ fechas | safe }},
                        datasets: {{ datasets | safe }}
                    },
                    options: {
                        tooltips: {
                            callbacks: {
                                label: function(tooltipItem, data) {
                                    var percent = data['datasets'][tooltipItem['datasetIndex']]['data'][tooltipItem['index']];
                                    return "Interés: " + percent + '%';
                                },
                                afterLabel: function(tooltipItem, data) {
                                    var tipo = data['datasets'][tooltipItem['datasetIndex']]["label"];
                                    var titulo = data['datasets'][0]['texto'][tooltipItem['index']];
                                    return tipo + ": " + titulo;
                                }
                            }
                        },
                        title: {
                            display: true,
                            text: 'Tasa Máxima Convencional'
                        }
                    }
                });
            };
        </script>
        <style>
            /* Sortable tables */
            table.sortable thead {
                background-color:#eee;
                color:#666666;
                font-weight: bold;
                cursor: default;
            }
            table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
                content: " ⇳" 
            }
        </style>
    </head>
    <body>
        <canvas id="myChart" class="elemento-formulario"></canvas>
        <form action="/">
            <input type="submit" value="Volver a Consultas">
        </form>
        <table class="sortable" border="1">
        <thead>
            <tr>
                <th>Código Tipo</th>
                <th>Interés</th>
                <th>Título</th>
                <th>Subtítulo</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos_tabla %}
            <tr>
                <td width="5%">{{ dato["Tipo"] }}</td>
                <td width="10%">{{ dato["Valor"] }}%</td>
                <td width="30%">{{ dato["Titulo"] }}</td>
                <td width="40%">{{ dato["SubTitulo"] }}</td>
                <td width="15%">{{ dato["Fecha"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </body>
</html>
