<!doctype html>

<html>
    <head>
        <title>Resultados</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
        <script src="static/sorttable.js"></script>
        <script>
            window.onload = function () {
                var ctx = document.getElementById("myChart");
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: {{ all_dates | safe }},
                        datasets: [
                            {
                                label: '{{ nombre_grafico }}',
                                data: {{ all_values }},
                                fill: false,
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1,
                                spanGaps: true,
                                tension: 0,
                                pointBackgroundColor: 'rgba(54, 162, 235, 1)'
                            }
                        ]
                    }
                });
            };
        </script>
        <style>
            /* Sortable tables */
            table.sortable thead {
                background-color:#eee;
                color:#666666;
                font-weight: bold;
                cursor: default;
            }
            table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
                content: " ⇳" 
            }
        </style>
    </head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    <th>Promedio</th>
                    <th>Mínimo</th>
                    <th>Máximo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ promedio }}</td>
                    <td>{{ minimo }}</td>
                    <td>{{ maximo }}</td>
                </tr>
            </tbody>
        </table>
        <canvas id="myChart" class="elemento-formulario"></canvas>
        <form action="/">
            <input type="submit" value="Volver a Consultas">
        </form>
        <table class="sortable" border="1">
        <thead>
            <tr>
                <th>Fecha </th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
            <tr>
                <td width="30%">{{ dato["Fecha"] }}</td>
                <td width="30%">${{ dato["Valor"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </body>
</html>
